*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0 50px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #666;
    padding: 20px 0;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    list-style: none;
    gap: 20px;
}

header ul {
    width: 220px;
    text-align: end;
}

ul li{
    grid-column: auto;
}

.sobre-nosotros{
    display: grid;
    grid-template-columns: .5fr 1fr;
    align-content: center;
    height: 500px;
    text-align: justify;
    background: #999;
}

.sobre-nosotros div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-nosotros div h3{
    font-weight: normal;
}

.productos{
    height: 600px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #666;
    padding: 75px 0;
}

.canales-contacto{
    width: 360px;
    display: flex;
    flex-direction: column;
}

.canales-contacto h2{
    text-align: center;
    margin-bottom: 20px;
}